@* Falcon takipçi/arkadaş/notifications içeriği *@
@{
    ViewData["Title"] = "Arkadaşlar & Takipçiler";
}
<!-- Falcon Arkadaşlar HTML Başlangıcı -->
<div class="container" data-layout="container">
    <h2 style="color:white;">Buraya Falcon'un arkadaş/takipçi/notifications sayfası HTML'i eklenecek</h2>
    <!-- ... -->
</div>
<!-- Falcon Arkadaşlar HTML Sonu --> 